/* ===== BODY ===== */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0077b6;  
}

/* ===== STOPWATCH PANEL ===== */
.stopwatch {
    background-color: #cfe6ff;   
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    width: 340px;
}

/* ===== TIME DISPLAY ===== */
#time-display {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #003566;              
    background-color: #90e0ef;    
    padding: 15px;
    border-radius: 15px;
}

/* ===== BUTTONS CONTAINER ===== */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* ===== BUTTONS ===== */
button {
    flex: 1;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s;
}

/* Hover effect */
button:hover {
    transform: scale(1.02);
}

/* Press effect */
button:active {
    transform: scale(0.97);
}

/* ===== START BUTTON ===== */
#start {
    background-color: #4CAF50; 
    color: white;
}
#start:hover { background-color: #1cdf26ff; }

/* ===== STOP BUTTON ===== */
#stop {
    background-color: #e71818ff; 
    color: white;
}
#stop:hover { background-color: #e40b0bff; }


#resume {
    background-color: #4372d8ff; 
    color: white;
}
#resume:hover { background-color: #0400e6ff; }
#resume:active { background-color: #0047ccff; }

/* ===== RESET BUTTON ===== */
#reset {
    background-color: #e70f0fff; 
    color: #0ea57fff;            
}
#reset:hover { background-color: #11d9e7ff; }

/* ===== DISABLED BUTTONS ===== */
button:disabled {
    opacity: 0.5;         
    cursor: not-allowed;   
}
